.footer {
    background-color: #353535;
    color: $white;

    &__logo {
        @include footer-logo;
        width: 35%;
        &:hover {
            color: black;
            cursor: pointer;
            transition: 300ms ease-in-out;
        }
    }

    &__contents, &__paragraph {
        margin: 10px 0 0px 25px;
        width: fit-content;
        &:hover {
            color: darken($white, 50);
            cursor: pointer;
            transition: 300ms ease-in-out;
        }
    }

    &__text {
        margin-left: 1.5rem;
    }
}

#footer__partner {
    margin-left: 18px;
}

#footer__paragraph-second {
    margin-bottom: 2rem;
}

a {
    color: $white;
    display: inline-block;
    text-decoration: none;
}