.header {
    @include flexview();
    background-color: $white;
    padding-top: 10px;
    border-bottom: 2px solid lightgray;
    box-shadow: $box-shadow;

    &__logo {
    font-size: 2rem;
    padding-bottom: 3px;
    width: 100%;
    @include flexview();
    }
}

.location__container {
    @include flexview();
    background-color: rgb(223, 221, 221);
    width: 100vw;
    height: 4vh;
    font-family: roboto;
    font-size: 1.1rem;
    border-top: 2px solid lightgray;
    
    #location__paris {
        margin-left: 10px;
    }
}