.header {
    @include flexview();
    background-color: $white;
    padding-top: 10px;
    border-bottom: 2px solid lightgray;
    box-shadow: $box-shadow;

    &__logo {
    font-size: 2rem;
    padding-bottom: 3px;
    width: 100%;
    @include flexview();
    }
}

.location {
    @include flexview();
    background-color: #dfdddd;
    height: 2rem;
    font-family: roboto, san-serif;
    font-size: 1.1rem;
    border-top: 2px solid lightgray;
}

.location__pin {
    padding: 1px 1px 0 1px;
}

#location__paris {
        margin-left: 10px;
    }