* {
  font-family: roboto;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-family: shrikhand;
}

h2, h3, h4, h5, h6, p, span {
  font-family: roboto, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}

hr {
  width: 3rem;
  background-color: #99e2d0;
  margin: 5px 0 0 25px;
  height: 3px;
  border: none;
  -webkit-animation: menu__subheading-appear 1s ease-in;
          animation: menu__subheading-appear 1s ease-in;
}

@media screen and (min-width: 768px) {
  *, body, html {
    letter-spacing: normal !important;
  }
  .header__arrow {
    display: none !important;
  }
  .steps {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (minmax(176px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    margin: 3rem 7rem 0 0;
  }
  .steps__heading__text {
    margin-left: 10%;
    width: 300px;
  }
  .restaurant__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 350px;
  }
  .restaurants__heading__text {
    margin-left: 10%;
    width: 300px;
  }
  #restaurants__container__desktop {
    margin-left: 10%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #desktop__listing-1, #desktop__listing-2, #desktop__listing-3, #desktop__listing-4 {
    display: -ms-grid;
    display: grid;
    width: 80%;
  }
  #desktop__listing-3, #desktop__listing-4 {
    margin-bottom: 3rem;
  }
  .new {
    margin: 20px 0 180px 0;
  }
  .br-mobile {
    display: none !important;
  }
  .menu__heading {
    padding-left: 15vw;
    width: 100%;
    position: relative;
  }
  .menu__items {
    height: 4.75rem !important;
    overflow-y: hidden;
  }
  .menu__items__heading {
    letter-spacing: normal;
  }
  .menu__items__priceCheck {
    margin-left: 60vw !important;
  }
  .menu__listings {
    width: 75vw;
    margin-left: 15vw;
  }
  #menu__items__priceCheck-1, #menu__items__priceCheck-2, #menu__items__priceCheck-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin: 43px 0 0 60vw !important;
    font-size: 1rem;
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
  -webkit-animation: spin-finished 1s;
          animation: spin-finished 1s;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loader-wrapper h1 {
  margin-top: 53vh;
  text-align: center;
  font-size: 1.25rem;
  font-family: roboto;
  color: #ff79da;
  font-weight: 300;
  letter-spacing: -.75px;
  -webkit-animation: brand-text 3s ease-out backwards;
          animation: brand-text 3s ease-out backwards;
}

.loader-wrapper h1 span {
  color: #9356dc;
  font-family: shrikhand;
  letter-spacing: -.75px;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  overflow-y: hidden;
  -webkit-animation: spin 2s linear 3;
          animation: spin 2s linear 3;
}

.loader::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: spin 3s linear 2;
          animation: spin 3s linear 2;
}

.loader::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #99e2d0;
  -webkit-animation: spin 1.5s linear 3;
          animation: spin 1.5s linear 3;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@-webkit-keyframes spin-finished {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes spin-finished {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes brand-text {
  0% {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 1;
  }
}

@keyframes brand-text {
  0% {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 1;
  }
}

@-webkit-keyframes menu-fadeIn__delay {
  0%, 38% {
    opacity: 0;
  }
  37% {
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes menu-fadeIn__delay {
  0%, 38% {
    opacity: 0;
  }
  37% {
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes menu__subheading-appear {
  0%, 38% {
    opacity: 0;
  }
  37% {
    -webkit-transform: translate(2rem, 0rem);
            transform: translate(2rem, 0rem);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes menu__subheading-appear {
  0%, 38% {
    opacity: 0;
  }
  37% {
    -webkit-transform: translate(2rem, 0rem);
            transform: translate(2rem, 0rem);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding-top: 10px;
  border-bottom: 2px solid lightgray;
  -webkit-box-shadow: 0 2px 10px 0.5px lightgray;
          box-shadow: 0 2px 10px 0.5px lightgray;
}

.header__logo {
  font-size: 2rem;
  padding-bottom: 3px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dfdddd;
  height: 2rem;
  font-family: roboto, san-serif;
  font-size: 1.1rem;
  border-top: 2px solid lightgray;
  cursor: pointer;
}

.location:hover {
  color: #9356dc;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.location__pin {
  padding: 1px 1px 0 1px;
}

#location__paris {
  margin-left: 10px;
}

.footer {
  background-color: #353535;
  color: #fff;
}

.footer__logo {
  margin: 25px 0 15px 25px;
  font-size: 22px;
  font-family: shrikhand;
  width: 35%;
}

.footer__logo:hover {
  color: black;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.footer__contents, .footer__paragraph {
  margin: 10px 0 0px 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__contents:hover, .footer__paragraph:hover {
  color: gray;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.footer__text {
  margin-left: 1.5rem;
}

#footer__partner {
  margin-left: 18px;
}

#footer__paragraph-second {
  margin-bottom: 1.5rem;
}

a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 19rem;
  background-color: #f3f3f3;
}

.booking__contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__heading {
  font-size: 1.75rem;
  letter-spacing: -.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking__subheading {
  font-size: 1.30rem;
  text-align: center;
  padding: 40px 20px 30px 20px;
}

.booking__btn {
  width: 15rem;
  border-radius: 2rem;
  height: 4rem;
  font-size: 1.1rem;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border: none;
  -webkit-box-shadow: 0 2px 10px 0.5px lightgray;
          box-shadow: 0 2px 10px 0.5px lightgray;
  cursor: pointer;
}

.booking__btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
  -webkit-box-shadow: 0 2px 20px 3px lightgray;
          box-shadow: 0 2px 20px 3px lightgray;
}

.steps {
  margin-bottom: 3rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps__heading {
  margin: 25px 0 0 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  letter-spacing: -.75px;
}

.steps__number {
  width: 2rem;
  height: 2rem;
  color: #fff;
  padding: 6px 0 0 11px;
  margin: 25px 0 0 -15px;
  position: absolute;
  border-radius: 1.25rem;
  background-color: #9356dc;
}

.steps__contents {
  background-color: lightgrey;
  height: 5rem;
  border-radius: 1.25rem;
  width: 90%;
  margin: 0 0 15px 25px;
  display: inline-block;
  -webkit-box-shadow: 0 2px 5px 1px lightgray;
          box-shadow: 0 2px 5px 1px lightgray;
  cursor: default;
}

.steps__contents #steps__contents__icon-1, .steps__contents #steps__contents__icon-2, .steps__contents #steps__contents__icon-3 {
  font-size: 1.7rem;
  color: gray;
  margin: 30px 0 0 40px;
}

.steps__contents #steps__contents__icon-3 {
  color: #9356dc;
}

.steps__contents-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: -28px 0 0 90px;
  font-size: 1.1rem;
  letter-spacing: -.75px;
  font-weight: 600;
}

.steps #steps__three {
  background-color: #e4d5f6;
}

.restaurants {
  background-color: #f3f3f3;
}

.restaurants__heading {
  margin: 25px 0 0 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.restaurants__container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants__listing {
  background-color: #fff;
  width: 90%;
  height: 15rem;
  overflow-y: hidden;
  border-radius: 1.25rem;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 10px 0.5px lightgray;
          box-shadow: 0 2px 10px 0.5px lightgray;
  cursor: pointer;
}

.restaurants__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 10.5rem;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.restaurants__card-heading {
  margin: 5px 0 0 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.75;
  font-size: 18px;
  padding-bottom: 2px;
}

.restaurants__card-desc {
  margin-left: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  font-weight: 200;
}

.restaurants__hearts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  padding-left: .5px;
  padding-right: .5px;
  font-size: 1.87rem;
}

.restaurants__hearts--full {
  color: transparent;
  position: absolute;
  font-size: 1.1rem;
  cursor: pointer;
}

.restaurants__hearts--full:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hearts__container {
  margin: -10% 0 0 80%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.new {
  width: 5.5rem;
  height: 2rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #217460;
  background-color: #99e2d0;
  -webkit-box-shadow: 0 2px 10px 0.5px lightgray;
          box-shadow: 0 2px 10px 0.5px lightgray;
  margin: -200px 0 0 70%;
  position: relative;
}

#desktop__listing-4 {
  margin-bottom: 3rem;
}

#restaurants__listing--fourth {
  margin-bottom: 4rem;
}

#new__desktop-1, #new__desktop-2 {
  display: none;
}

.header__arrow {
  top: 23px;
  left: 20px;
  font-size: 1.5rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.header__arrow:hover {
  color: gray;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.header__arrow:active {
  color: #c9abee;
}

.restaurant__img {
  width: 100%;
  position: relative;
}

.menu {
  background-color: #f6f6f6;
  width: 100%;
  border: none;
  border-radius: 3.5rem 3.5rem 0 0;
  margin-top: -4rem;
  position: absolute;
}

.menu__heading {
  margin: 35px 0 0 25px;
  -webkit-animation: menu-fadeIn__delay 1s ease-in;
          animation: menu-fadeIn__delay 1s ease-in;
}

.menu__subheading {
  text-transform: uppercase;
  margin: 20px 0 0 25px;
  color: #606060;
  font-weight: 300;
  -webkit-animation: menu__subheading-appear 1s ease-in;
          animation: menu__subheading-appear 1s ease-in;
}

.menu__hearts__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: -50px 0 0 82%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: menu-fadeIn__delay 1s ease-in;
          animation: menu-fadeIn__delay 1s ease-in;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-shadow: 0 2px 10px 0.5px lightgray;
          box-shadow: 0 2px 10px 0.5px lightgray;
  position: relative;
  height: 4.75rem;
  background-color: #fff;
  margin: 16px 0 0 20px;
  border-radius: 1rem;
  font-weight: 600;
  overflow-y: hidden;
  -webkit-animation: menu-fadeIn__delay 1s ease-in;
          animation: menu-fadeIn__delay 1s ease-in;
}

.menu__items:hover {
  -webkit-box-shadow: 0 2px 20px 3px lightgray;
          box-shadow: 0 2px 20px 3px lightgray;
  cursor: pointer;
}

.menu__items__text h3 {
  padding: 15px 0 0 10px;
  letter-spacing: -.75px;
  font-size: 1rem;
}

.menu__items__text p {
  font-weight: 200 !important;
  padding: 8px 0 0 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #606060;
  text-overflow: ellipsis;
}

.menu__items__priceCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin: 43px 0 0 76vw;
  letter-spacing: -.75px;
  font-size: 1rem;
}

.menu__items__priceCheck p {
  text-overflow: unset;
  overflow-y: hidden;
}

.menu__items:hover .check {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1.25s ease-in-out;
  transition: -webkit-transform 1.25s ease-in-out;
  transition: transform 1.25s ease-in-out;
  transition: transform 1.25s ease-in-out, -webkit-transform 1.25s ease-in-out;
}

.menu__items:hover .check__circle {
  -webkit-transition-duration: 0.55s;
          transition-duration: 0.55s;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}

.menu__items:hover .menu__items__priceCheck {
  -webkit-transition: -webkit-transform 1.25s ease-in-out;
  transition: -webkit-transform 1.25s ease-in-out;
  transition: transform 1.25s ease-in-out;
  transition: transform 1.25s ease-in-out, -webkit-transform 1.25s ease-in-out;
  -webkit-transform: translateX(-55px);
          transform: translateX(-55px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.check {
  width: 4.5rem;
  height: 4.75rem;
  margin-left: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
}

.check__circle {
  color: #fff;
  font-size: 150%;
}

.check__circle:hover {
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

#check-1, #check-2, #check-3, #check-4 {
  width: 4.5rem;
  height: 5.85rem;
  margin-left: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
}

.restaurants__hearts-menu {
  font-size: 1.87rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  cursor: pointer;
}

.restaurants__hearts-menu--full {
  color: transparent;
  position: absolute;
  font-size: 1.1rem;
  cursor: pointer;
}

.restaurants__hearts-menu--full:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bottom__1, #bottom__2, #bottom__3 {
  margin-bottom: 50px;
}

.menu__button {
  width: 100%;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__btn {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  width: 14rem;
  border-radius: 2rem;
  height: 4rem;
  font-size: 1.25rem;
  margin-bottom: 80px;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0 2px 10px 0.5px lightgray;
          box-shadow: 0 2px 10px 0.5px lightgray;
  cursor: pointer;
}

.menu__btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-box-shadow: 0 2px 20px 3px lightgray;
          box-shadow: 0 2px 20px 3px lightgray;
}

.menu__btn:active {
  -webkit-box-shadow: 0 2px 10px 1px #ff79da;
          box-shadow: 0 2px 10px 1px #ff79da;
}

#menu__items__different-1, #menu__items__different-2, #menu__items__different-3, #menu__items__different-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 5.80rem;
  background-color: #fff;
  margin: 16px 0 0 20px;
  border-radius: 1rem;
  font-weight: 600;
}

#menu__items__priceCheck-1, #menu__items__priceCheck-2, #menu__items__priceCheck-3, #menu__items__priceCheck-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin: 62px 0 0 76vw;
  letter-spacing: -.75px;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */