// mobile design is first

@import "./pages/bastille";

@import "./layout/header";
@import "./layout/footer";

@import "./utils/variables";

* {
    font-family: roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    h1 {
        font-family: shrikhand;
    }
}