* {
  font-family: roboto;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-family: shrikhand;
}

h2, h3, h4, h5, h6, p, span {
  font-family: roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding-top: 10px;
  border-bottom: 2px solid lightgray;
  -webkit-box-shadow: 0 2px 10px 1px lightgray;
          box-shadow: 0 2px 10px 1px lightgray;
}

.header__logo {
  font-size: 2rem;
  padding-bottom: 3px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dfdddd;
  height: 2rem;
  font-family: roboto, san-serif;
  font-size: 1.1rem;
  border-top: 2px solid lightgray;
}

.location__pin {
  padding: 1px 1px 0 1px;
}

#location__paris {
  margin-left: 10px;
}

.footer {
  background-color: #353535;
  color: #fff;
}

.footer__logo {
  margin: 25px 0 15px 25px;
  font-size: 22px;
  font-family: shrikhand;
}

.footer__contents, .footer__paragraph {
  margin: 10px 0 0px 25px;
}

.footer__text {
  margin-left: 1.5rem;
}

#footer__partner {
  margin-left: 18px;
}

#footer__paragraph-second {
  margin-bottom: 2rem;
}

a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 19rem;
  background-color: #f3f3f3;
}

.booking__contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__heading {
  font-size: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking__subheading {
  font-size: 1.30rem;
  text-align: center;
  padding: 40px 20px 30px 20px;
}

.booking__btn {
  width: 15rem;
  border-radius: 2rem;
  height: 4rem;
  font-size: 1.1rem;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border: none;
  -webkit-box-shadow: 0 2px 10px 1px lightgray;
          box-shadow: 0 2px 10px 1px lightgray;
  cursor: pointer;
}

.booking__btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
  -webkit-box-shadow: 0 2px 20px 3px lightgray;
          box-shadow: 0 2px 20px 3px lightgray;
}

.steps {
  height: 25rem;
  background-color: #fff;
}

.steps__heading {
  margin: 25px 0 0 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
}

.steps__number {
  width: 2rem;
  height: 2rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.25rem;
  background-color: #9356dc;
  margin-right: 90%;
  position: absolute;
}

.steps__contents {
  background-color: lightgrey;
  height: 5rem;
  border-radius: 1.25rem;
  width: 90%;
  margin: 0 0 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 5px 1px lightgray;
          box-shadow: 0 2px 5px 1px lightgray;
  cursor: pointer;
}

.steps__contents #steps__contents__icon-1, .steps__contents #steps__contents__icon-2, .steps__contents #steps__contents__icon-3 {
  font-size: 1.5rem;
  color: gray;
}

.steps__contents #steps__contents__icon-1 {
  margin: 5px 13% 0 0;
}

.steps__contents #steps__contents__icon-2 {
  margin: 5px 15% 0 0;
}

.steps__contents #steps__contents__icon-3 {
  margin: 5px 1.5% 0 0;
  color: #9356dc;
}

.steps__contents #steps__contents-list-2 {
  margin-right: 2%;
}

.steps__contents-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
  font-size: 20px;
  font-weight: 600;
}

.steps #steps__three {
  background-color: #e4d5f6;
}

.restaurants {
  background-color: #f3f3f3;
}

.restaurants__heading {
  margin: 25px 0 0 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.restaurants__container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants__listing {
  background-color: #fff;
  width: 90%;
  height: 15rem;
  border-radius: 1.25rem;
  margin: 0 0 20px 2px;
  -webkit-box-shadow: 0 2px 10px 1px lightgray;
          box-shadow: 0 2px 10px 1px lightgray;
}

.restaurants__listing:hover {
  -webkit-box-shadow: 0 2px 10px 1px #fff;
          box-shadow: 0 2px 10px 1px #fff;
}

.restaurants__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 10.5rem;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.restaurants__card-heading {
  margin: 10px 0 0 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.75;
  font-size: 18px;
  padding-bottom: 2px;
}

.restaurants__card-desc {
  margin-left: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
}

.restaurants__rating {
  margin: -2.5rem 0 0 77%;
  font-size: 1.725rem;
  padding: 0 2px 0 2px;
  position: absolute;
  cursor: pointer;
}

.new {
  width: 5.5rem;
  height: 2rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #217460;
  background-color: #99e2d0;
  -webkit-box-shadow: 0 2px 10px 1px lightgray;
          box-shadow: 0 2px 10px 1px lightgray;
  left: 70%;
  margin-top: -9rem;
  position: absolute;
}

#restaurants__listing--fourth {
  margin-bottom: 4rem;
}

.header__arrow {
  top: 23px;
  left: 20px;
  font-size: 1.5rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.header__arrow:active {
  color: #c9abee;
}

.bastille {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bastille__img {
  width: 100%;
}

.menu__top__heading {
  margin: 25px 0 0 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=main.css.map */