@media  screen and (min-width: 768px) {
    * {
        letter-spacing: normal;
    }
    
    // how it works \\

    .steps {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
        margin: 3rem 7rem 0 0;
    }

    .steps__heading__text {
        margin-left: 10%;
        width: 300px;
    }

    #steps__contents-list-1, #steps__contents-list-2, #steps__contents-list-3 {
        letter-spacing: normal;
    }  
    
    //restaurants \\

    .restaurant__img {
        width: 100%;
        object-fit: cover;
        height: 350px;
    }

    .restaurants__heading__text {
        margin-left: 10%;
        width: 300px;
    }

    #restaurants__container__desktop {
        margin-left: 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #desktop__listing-1, #desktop__listing-2, #desktop__listing-3, #desktop__listing-4 {
        display: grid;
        width: 80%;
    }

    #desktop__listing-3, #desktop__listing-4 {
        margin-bottom: 3rem;
    }

    .new {
    margin-left: 75% !important;
    }

    //menus\\
    
    .br-mobile {
        display: none;
    }

    .menu__heading {
        padding-left: 15vw;
        width: 100%;
        position: relative;
    }

    .menu__items__heading {
        letter-spacing: normal;
    }

    .menu__items__priceCheck {
        padding-left: 3rem;
    }
    
    .menu__listings {
        width: 60rem;
        margin-left: 15vw;
    }
}