@media  screen and (min-width: 768px) {
    *, body, html {
        letter-spacing: normal !important;
    }

    .header__arrow {
        display: none !important;
    }
    
    // how it works \\

    .steps {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
        margin: 3rem 7rem 0 0;
    }

    .steps__heading__text {
        margin-left: 10%;
        width: 300px;
    }
    
    //restaurants \\

    .restaurant__img {
        width: 100%;
        object-fit: cover;
        height: 350px;
    }

    .restaurants__heading__text {
        margin-left: 10%;
        width: 300px;
    }

    #restaurants__container__desktop {
        margin-left: 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #desktop__listing-1, #desktop__listing-2, #desktop__listing-3, #desktop__listing-4 {
        display: grid;
        width: 80%;
    }

    #desktop__listing-3, #desktop__listing-4 {
        margin-bottom: 3rem;
    }

    .new {
        margin: 20px 0 180px 0;
    }

    //menus\\
    
    .br-mobile {
        display: none !important;
    }

    .menu__heading {
        padding-left: 15vw;
        width: 100%;
        position: relative;
    }

    .menu__items {
        height: 4.75rem !important;
        overflow-y: hidden;

        &__heading {
        letter-spacing: normal;
        }

        &__priceCheck {
        margin-left: 60vw !important;
        }
    }
    
    .menu__listings {
        width: 75vw;
        margin-left: 15vw;
    }

    #menu__items__priceCheck-1, #menu__items__priceCheck-2, #menu__items__priceCheck-3 {
        @include flexview-column;
        position: relative;
        margin: 43px 0 0 60vw !important;
        font-size: 1rem;
    }
}