.booking {
    display: flex;
    justify-content: center;
    height: 19rem;
    background-color: rgb(243, 243, 243);

    &__contents {
        width: 50rem;
    }

    &__heading {
        font-size: 1.75rem;
        @include flexview-partial();
        padding-top: 10%;
    }

    &__subheading {
        font-size: 1.25rem;
        @include flexview-partial();
        padding: 40px 10px 30px 20px;
    }

    &__btn {
        width: 13.5rem;
        border-radius: 2rem;
        height: 20%;
        font-size: 1.1rem;
        margin-left: 24%;
        color: $white;
        @include color-button;
        box-shadow: $box-shadow;
        border: none;
    }
}

.steps {
    height: 25rem;
    background-color: $white;

    &__heading {
        @include homepage-headings;
    }

    &__container {
        margin-top: 1rem;
        width: 24rem;
        @include flexview;
        flex-direction: column;
    }

    &__contents {
        background-color: lightgrey;
        height: 5rem;
        border-radius: $borderRadius;
        width: 90%;
        margin: 0 0 15px 25px;
        @include flexview;
        box-shadow: $minor-shadow;
        cursor: pointer;

        &:hover {
            background-color: lighten($color-primary, 30%);
        }

        #steps__contents__icon-1, #steps__contents__icon-2, #steps__contents__icon-3 {
            font-size: $home-icons;
        }

        #steps__contents__icon-1 {
            margin: 5px 13% 0 0;
        }

        #steps__contents__icon-2 {
            margin: 5px 15% 0 0;
        }

        #steps__contents__icon-3 {
            margin: 5px 1.5% 0 0;
        }

        #steps__contents-list-2 {
            display: inline-block;
            margin-right: 2%;
        }
        
        &-list {
            @include flexview;
            padding-top: 6px;
            font-size: $minor-headings;
            font-weight: 600;
        }
    }    
}