.booking {
    display: flex;
    justify-content: center;
    height: 19rem;
    background-color: rgb(243, 243, 243);

    &__contents {
        width: 100%;
        @include flexview;
        flex-direction: column;
    }

    &__heading {
        font-size: 1.75rem;
        @include flexview-partial;
        letter-spacing: -1px;
    }

    &__subheading {
        font-size: 1.30rem;
        text-align: center;
        padding: 40px 20px 30px 20px;
    }

    &__btn {
        width: 15rem;
        border-radius: 2rem;
        height: 4rem;
        font-size: 1.1rem;
        color: $white;
        @include color-button;
        border: none;
        box-shadow: $box-shadow;
        cursor: pointer;
        &:hover {
            transform: scale(1.02);
            transition: ease-in-out 100ms;
            box-shadow: $box-shadow-hover;
        }
    }
}

.steps {
    height: 25rem;
    background-color: $white;

    &__heading {
        @include homepage-headings;
        margin-bottom: 1rem;
    }

    &__number {
        width: 2rem;
        height: 2rem;
        color: $white;
        @include flexview;
        border-radius: $borderRadius;
        background-color: $color-primary;
        margin-right: 23rem;
        position: absolute;
    }

    &__contents {
        background-color: lightgrey;
        height: 5rem;
        border-radius: $borderRadius;
        width: 90%;
        margin: 0 0 15px 25px;
        @include flexview;
        box-shadow: $minor-shadow;
        cursor: pointer;

        #steps__contents__icon-1, #steps__contents__icon-2, #steps__contents__icon-3 {
            font-size: $home-icons;
            color: gray;
            margin: 5px 65% 0 0;
            position: absolute;
        }

        #steps__contents__icon-3 {
            color: $color-primary;
        }

        #steps__contents-list-1 {
            margin-right: 6%;
        } 
        
        #steps__contents-list-2 {
            margin-right: 12%;
        }

        #steps__contents-list-3 {
            margin-left: 11%;
        }
        
        &-list {
            @include flexview;
            padding-top: 6px;
            font-size: 1.25rem;
            font-weight: 600;
        }
    }
    
    #steps__three {
        background-color: lighten($color-primary, 30);
    }
}