.header {
    &__arrow {
        @include menus-headerIcon;
        &:hover {
            color: darken($white, 50);
            transition: 300ms ease-in-out;
        }
        &:active {
            color: lighten($color-primary, 20);
        }
    }
}        

.restaurant__img {
    width: 100%;
    position: relative;
}

.menu {
    @include menu-default;
    
    &__heading {
        @include menus-headings;
        animation: menu-fadeIn__delay 1s ease-in;
    }

    &__subheading {
        @include menus-subheadings;
        animation: menu__subheading-appear 1s ease-in;
    }

    &__hearts__container {
        width: fit-content;
        margin: -50px 0 0 82%;
        position: relative;
        @include flexview;
        animation: menu-fadeIn__delay 1s ease-in;

    }

    &__items {
        @include menu-itemsDefault;
        overflow-y: hidden;
        animation: menu-fadeIn__delay 1s ease-in;

        &__text h3 {
            padding: 15px 0 0 10px;
            letter-spacing: -.75px;
            font-size: 1rem;
        }

        &__text p {
            font-weight: 200 !important;
            padding: 8px 0 0 10px;
            width: fit-content;
            color: #606060;
            text-overflow: ellipsis;
        }

        &__priceCheck {
            @include flexview-column;
            position: absolute;
            margin: 43px 0 0 76vw;
            letter-spacing: -.75px;
            font-size: 1rem;
        }

        &__priceCheck p {
            text-overflow: unset;
            overflow-y: hidden;
        }

//mint transition \\

        &:hover {
            .check {
                transform: translateX(-100%);
                transition: transform 1.25s ease-in-out;
            }

            .check__circle {
                transition-duration: 0.55s;
                transform: rotate(1turn);
                transition-delay: .45s;
            }

            .menu__items__priceCheck {
                transition: transform 1.25s ease-in-out;
                transform: translateX(-55px);
                transition-delay: 0.1s;
            }
        }
    }
}

// mint transition specs \\

.check {
    width: 4.5rem;
    height: 4.75rem;
    margin-left: 100%;
    position: absolute;
    @include flexview;
    background-color: $color-tertiary;
    border-radius: 0 1rem 1rem 0;

    &__circle {
        color: $white;
        font-size: 150%;

        &:hover {
            transition-duration: 600ms;
            transform: rotate(360deg);
            transition-delay: 400ms;
        }
    }
}

#check-1, #check-2, #check-3, #check-4 {
    width: 4.5rem;
    height: 5.85rem;
    margin-left: 100%;
    position: absolute;
    @include flexview;
    background-color: $color-tertiary;
    border-radius: 0 1rem 1rem 0;
}

.restaurants__hearts-menu {
    @include menu-heart;

    &--full {
        color: transparent;
        position: absolute;
        font-size: 1.1rem;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.5);
            transition: 300ms ease-in-out;
            background: linear-gradient($color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

#bottom__1, #bottom__2, #bottom__3 {
    margin-bottom: 50px;
}

.menu__button {
    width: 100%;
    padding-top: 16px;
    @include flexview;
}

.menu__btn {
    @include menu-btn;
    
    &:active {
        box-shadow: 0 2px 10px 1px $color-secondary;
    }
}

#menu__items__different-1, #menu__items__different-2, #menu__items__different-3, #menu__items__different-4 {
    @include flexview-column;
    width: 90%;
    height: 5.80rem;
    background-color: $white;
    margin: 16px 0 0 20px;
    border-radius: 1rem;
    font-weight: 600;
}

#menu__items__priceCheck-1, #menu__items__priceCheck-2, #menu__items__priceCheck-3, #menu__items__priceCheck-4 {
    @include flexview-column;
    position: absolute;
    margin: 62px 0 0 76vw;
    letter-spacing: -.75px;
    font-size: 1rem;
}