.header {
    &__arrow {
        @include menus-headerIcon;
        &:hover {
            color: darken($white, 50);
            transition: 300ms ease-in-out;
        }
        &:active {
            color: lighten($color-primary, 20);
        }
    }
}        

.restaurant__img {
    width: 100%;
    z-index: inherit;
}

.menu {
    @include menu-default;
    
    &__heading {
        @include menus-headings;
    }

    &__subheading {
        @include menus-subheadings;
    }

    &__items {
        @include menu-itemsDefault;

        &__heading {
            padding: 15px 0 0 10px;
        }

        &__subheading {
            font-weight: 300;
            padding: 8px 0 0 10px;
            color: #606060;
        }

        &__price {
            position: absolute;
            margin: 45px 0 0 78%;
        }
    }
}

.restaurants__hearts-menu {
    @include menu-heart;
}

#bottom__1, #bottom__2, #bottom__3 {
    margin-bottom: 50px;
}

.menu__btn {
    @include menu-btn;
}

#menu__enchanted {
    font-size: 2rem;
}

#restaurants__hearts-menu--edit {
    margin: -15% 0 0 82%;
}

#main__top {
    @include flexview-column;
    width: 90%;
    height: 6.4rem;
    background-color: $white;
    margin: 16px 0 0 20px;
    border-radius: 1rem;
    font-weight: 600;

    &__price {
        margin: 68px 0 0 78%;
    }
}