.restaurants {
    background-color: #f3f3f3;

    &__heading {
        @include homepage-headings;
        letter-spacing: -.75px;
    }

    &__container {
        margin-top: 1rem;
        @include flexview;
        flex-direction: column;
    }

    &__listing {
        background-color: $white;
        @include restaurant-dim;
        box-shadow: $box-shadow;
        cursor: pointer;
        &:hover {
            box-shadow: 0 2px 10px 1px $white;
            transition: 300ms;
        }

        &:active {
            box-shadow: 0 2px 10px 1px $color-tertiary;
        }
    }

    &__image {
    @include restaurant-image;
    }

    &__card-heading {
        @include restuarant-headings;
        letter-spacing: -.75px
    }

    &__card-desc {
        @include restuarant-desc;
    }

    &__hearts {
        @include restaurant-heart;
    }
}

.new {
    width: 5.5rem;
    height: 2rem;
    border-radius: 4px;
    @include flexview;
    color: darken($color-tertiary, 45);
    background-color: $color-tertiary;
    box-shadow: $box-shadow;
    left: 70%;
    margin-top: -9rem;
    position: absolute;
}

#desktop__listing-4 {
    margin-bottom: 3rem;
}

#restaurants__listing--fourth {
    margin-bottom: 4rem;
}