.restaurants {
    background-color: #f3f3f3;

    &__heading {
        @include homepage-headings;
    }

    &__container {
        margin-top: 1rem;
        @include flexview;
        flex-direction: column;
    }

    &__listing {
        background-color: $white;
        @include restaurant-dim;
        box-shadow: $box-shadow;
        cursor: pointer;
    }

    &__image {
    @include restaurant-image;
    }

    &__card-heading {
        @include restuarant-headings;
    }

    &__card-desc {
        @include restuarant-desc;
    }

    &__hearts {
        @include restaurant-heart;

        &--full {
            position: absolute;
            font-size: 1.25rem;
            margin-left: .45px;
            color: transparent;

            &:hover {
                transform: scale(1.35);
                transition: 1s ease;
                background: linear-gradient($color-primary, $color-secondary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.hearts__container {
    margin: -10% 0 0 80%;
    width: 10%;
    @include flexview;
    position: relative;
}



.new {
    width: 5.5rem;
    height: 2rem;
    border-radius: 4px;
    @include flexview;
    color: darken($color-tertiary, 45);
    background-color: $color-tertiary;
    box-shadow: $box-shadow;
    margin: -200px 0 0 70%;
    position: relative;
}

#desktop__listing-4 {
    margin-bottom: 3rem;
}

#restaurants__listing--fourth {
    margin-bottom: 4rem;
}

#new__desktop-1, #new__desktop-2 {
    display: none;
}