//homepage\\

@mixin color-button {
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
}

@mixin flexview {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexview-partial {
    display: flex;
    justify-content: center;
}

@mixin flexview-column {
    display: flex;
    flex-direction: column;
}

@mixin homepage-headings {
    margin: 25px 0 0 25px;
    width: fit-content;
}

@mixin restuarant-headings {
    margin: 5px 0 0 16px;
    width: fit-content;
    line-height: 1.75;
    font-size: 18px;
    padding-bottom: 2px;
}

@mixin restuarant-desc {
    margin-left: 16px;
    width: fit-content;
    font-size: 16px;
    font-weight: 200;
}

@mixin restaurant-dim {
    width: 90%;
    height: 15rem;
    border-radius: $borderRadius;
    margin: 0 0 20px 2px;
}

@mixin restaurant-image {
    @include flexview-partial();
    width: 100%;
    height: 10.5rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    cursor: pointer;
}

@mixin restaurant-heart {
    margin: -2.5rem 0 0 77%;
    font-size: $home-icons *1.15;
    padding: 0 2px 0 2px;
    position: absolute;
    cursor: pointer;
}

@mixin footer-logo {
    margin: 25px 0 15px 25px;
    font-size: 22px;
    font-family: shrikhand;
}

//menus\\

@mixin menu-default {
    background-color: $color-menu;
    width: 100%;
    border: none;
    border-radius: 3.5rem 3.5rem 0 0;
    margin-top: -4rem;
    position: absolute;
}

@mixin menus-headerIcon {
    top: 23px;
    left: 20px;
    font-size: 1.5rem;
    color: black;
    @include flexview();
    position: absolute;
}

@mixin menus-headings {
    margin: 35px 0 0 25px;
}

@mixin menus-subheadings {
    text-transform: uppercase;
    margin: 20px 0 0 25px;
    color: #606060;
    font-weight: 300;
}

@mixin menu-heart {
    font-size: $home-icons *1.15;
    margin: -9.5% 0 0 82%;
    padding: 0 2px 0 2px;
    position: absolute;
    cursor: pointer;
}

@mixin menu-itemsDefault {
    @include flexview-column;
    width: 90%;
    box-shadow: $box-shadow;
    height: 5rem;
    background-color: $white;
    margin: 16px 0 0 20px;
    border-radius: 1rem;
    font-weight: 600;
    &:hover {
        box-shadow: $box-shadow-hover;
        cursor: pointer;
    } 
}

@mixin menu-btn {
    @include color-button;
    width: 14rem;
    border-radius: 2rem;
    height: 4rem;
    font-size: 1.25rem;
    margin-bottom: 75px;
    margin-left: 90px;
    color: $white;
    border: none;
    box-shadow: $box-shadow;
    cursor: pointer;
    &:hover {
        transform: scale(1.02);
        transition:100ms ease-in-out;
        box-shadow: $box-shadow-hover;
    }
}