// animations \\

@mixin loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $white;
    animation: spin-finished 1s;
    animation-delay: 4.2s;
    animation-fill-mode: both;
}

@mixin loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-primary;
    overflow-y: hidden;
    animation: spin 2s linear 3;
    
    &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-secondary;
    animation: spin 3s linear 2;
    }
    
    &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-tertiary;
    animation: spin 1.5s linear 3;
    }
}

//homepage\\

@mixin color-button {
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
}

@mixin flexview {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexview-partial {
    display: flex;
    justify-content: center;
}

@mixin flexview-column {
    display: flex;
    flex-direction: column;
}

@mixin homepage-headings {
    margin: 25px 0 0 25px;
    width: fit-content;
}

@mixin restuarant-headings {
    margin: 5px 0 0 16px;
    width: fit-content;
    line-height: 1.75;
    font-size: 18px;
    padding-bottom: 2px;
}

@mixin restuarant-desc {
    margin-left: 16px;
    width: fit-content;
    font-size: 16px;
    font-weight: 200;
}

@mixin restaurant-dim {
    width: 90%;
    height: 15rem;
    overflow-y: hidden;
    border-radius: $borderRadius;
    margin-bottom: 20px;
}

@mixin restaurant-image {
    @include flexview-partial();
    width: 100%;
    height: 10.5rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    cursor: pointer;
}

@mixin restaurant-heart {
    margin: -10% 0 20px 83%;
    @include flexview;
    width: 36px;
    padding-left: 2px;
    font-size: $home-icons *1.15;
    cursor: pointer;
        
    &:hover, &:active {
        transform: scale(1.15);
        transition: 300ms ease-in-out;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

@mixin footer-logo {
    margin: 25px 0 15px 25px;
    font-size: 22px;
    font-family: shrikhand;
}

@mixin homepage-desktopBorder {
    border: 1px solid $color-secondary;
    border-radius: 5rem;
}

//menus\\

@mixin menu-default {
    background-color: $color-menu;
    width: 100%;
    border: none;
    border-radius: 3.5rem 3.5rem 0 0;
    margin-top: -4rem;
    position: absolute;
}

@mixin menus-headerIcon {
    top: 23px;
    left: 20px;
    font-size: 1.5rem;
    color: black;
    @include flexview();
    position: absolute;
}

@mixin menus-headings {
    margin: 35px 0 0 25px;
}

@mixin menus-subheadings {
    text-transform: uppercase;
    margin: 20px 0 0 25px;
    color: #606060;
    font-weight: 300;
}

@mixin menu-heart {
    font-size: $home-icons *1.15;
    margin: -40px 0 0 82%;
    padding: 0 2px 0 2px;
    position: absolute;
    cursor: pointer;
}

@mixin menu-itemsDefault {
    @include flexview-column;
    width: 90%;
    box-shadow: $box-shadow;
    position: relative;
    height: 4.75rem;
    background-color: $white;
    margin: 16px 0 0 20px;
    border-radius: 1rem;
    font-weight: 600;
    &:hover {
        box-shadow: $box-shadow-hover;
        cursor: pointer;
    } 
}

@mixin menu-btn {
    @include color-button;
    width: 14rem;
    border-radius: 2rem;
    height: 4rem;
    font-size: 1.25rem;
    margin-bottom: 80px;
    color: $white;
    border: none;
    box-shadow: $box-shadow;
    cursor: pointer;
    &:hover {
        transform: scale(1.02);
        transition:100ms ease-in-out;
        box-shadow: $box-shadow-hover;
    }
}